<div class="largestBox">
<h1>Eat Ah Burger!</h1>
<div class="boxes">
  <div class="form-group">
<h2 id="in">&#x1F432 Burgers ordered &#x1F432</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> order/burger-block ordered1=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2 id="out">&#x1F432 Burgers devoured &#x1F432</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> order/burger-block ordered1=false}}
    {{/if}}
  {{/each}}
</ul>

<h2 id="make">Make an order</h2>

<form class="create-form">
    <input type="text" id="order" name="name">
  <button type="submit">Place order</button>
</form>
  </div>
</div>
</div>