html {
    height: 100%;
}

body {
    text-align: center !important;
    background-image: url(../img/121619085-vector-colorful-illustrations-on-the-burgers-theme-pictures-contain-realistic-shadows-and-glare-isol.jpg);
}

h1 {
    font-family: 'creepster';
    font-size: 500%;

    color: black;

    text-decoration: underline;
    margin: 0;
    padding: 0;
    margin: 5% auto;
    width: max-content;

    border-color: whitesmoke;
    border: outset;
    border-color: black;
    box-shadow: -5px 5px 5px black;
    background-color: rgb(240, 160, 57);
}
.largestBox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    flex-direction: row;
}

h2 {
    font-family: 'creepster';
    font-size: 300%;
}

.in {
    color: green;

    float: left;
    border: solid;
    border-color: black;

    box-shadow: -5px 5px 5px black;
    background-color: rgb(240, 160, 57);

    padding: 5px;

    font-size: 100%;
    margin-right: 3%;
    text-align: center;
    display: inline-block;
}

.out {
    color: red;

    float: right;
    border: solid;
    border-color: black;

    background-color: rgb(240, 160, 57);
    box-shadow: -5px 5px 5px black;
    font-size: 100%;
    padding: 5px;
    margin-left: 3%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
#center {
    display: inline-flex;
    justify-content: center;
}

.form-group {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;

    margin-right: auto;
    margin-left: auto;
}
#make {
    font-size: 325%;
    font-family: 'Faster One';
    color: gold;
    text-decoration: underline;
    text-shadow: -12px 2px 13px #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}
.boxes {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: inherit;
}
li {
    font-family: 'creepster';
    font-size: 275%;
    padding: 5px;
    margin: 5px;
}

.label {
    font-weight: bold;
}
#order {
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: rgb(240, 160, 57);
    border: solid;
    border-color: black;
    box-shadow: -5px 5px 5px black;
    font-size: 275%;
}
.create-form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    align-items: center;
}

#place {
    font-family: 'creepster';
    color: black;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    margin: 1% 0 0 !important;
    border: solid;
    border-color: black;
    background-color: gold;
    box-shadow: 0px 0px 10px black;
    font-size: x-large;
}
#burgerAction {
    color: black;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    margin: 1% 0 0 !important;
    border: solid;
    border-color: black;
    background-color: gold;
    box-shadow: 0px 0px 10px black;
    font-size: large;
}
